<!DOCTYPE html>
<html>
    <head>
        <title>Tennis-Tournament</title>
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="background-up">
            <nav>
                <div class="navbar">
                    <a href="#home" class="navwidth">Main Page</a>
                    <div class="dropdown navwidth">
                    <button class="dropbtn navwidth">Tournaments
                        <i class="fa fa-caret-down navwidth"></i>
                    </button>
                    <div class="dropdown-content navwidth" >
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    </div>
                    <a href="#news">New-Tournament</a>
                </div>
            </nav>
            <div>
                <div class="board lfloat">
                    <p class="boardtitle">Mens leaderboard:</p>
                    <table class="boardtable">
                        <tr>
                            <th>Position:</th>
                            <th>Name: </th>
                            <th>Total Points:</th>
                        </tr>
                        {% for row in rows %}
                            <tr>
                                <th> {%row[1]%} </th>  <!-- position in leaderboard -->
                                <th> {%row[2]% </th> <!-- Name of Player -->
                                <th> {%row[3]% </th> <!-- Points earned by Player -->
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="board rfloat">
                    <p class="boardtitle">Mens Earnings:</p>
                    <table class="boardtable">
                        <tr>
                            <th>Position:</th>
                            <th>Name: </th>
                            <th>Total Points:</th>
                        </tr>
                        {% for row2 in row2s %}
                            <tr>
                                <th> {%row2[1]%} </th>  <!-- position in leaderboard -->
                                <th> {%row2[2]% </th> <!-- Name of Player -->
                                <th> {%row2[3]% </th> <!-- Points earned by Player -->
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div>
                <div class="board lfloat">
                    <p class="boardtitle">Womans leaderboard:</p>
                    <table class="boardtable">
                        <tr>
                            <th>Position:</th>
                            <th>Name: </th>
                            <th>Total Points:</th>
                        </tr>
                        {% for row3 in row3s %}
                            <tr>
                                <th> {%row3[1]%} </th>  <!-- position in leaderboard -->
                                <th> {%row3[2]% </th> <!-- Name of Player -->
                                <th> {%row3[3]% </th> <!-- Points earned by Player -->
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="board rfloat">
                    <p class="boardtitle">Womans Earnings:</p>
                    <table class="boardtable">
                        <tr>
                            <th>Position:</th>
                            <th>Name: </th>
                            <th>Total Points:</th>
                        </tr>
                        {% for row4 in row4s %}
                            <tr>
                                <th> {%row4[1]%} </th>  <!-- position in leaderboard -->
                                <th> {%row4[2]% </th> <!-- Name of Player -->
                                <th> {%row4[3]% </th> <!-- Points earned by Player -->
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>


