
html, body {
    background-color: #cdc6a5; /* background colour of the webpage */
    font-family: Verdana,sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgba(53,53,53,0);
    font-family: Arial;
    height: 50px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: white; /* nav bar text colour (for the links) */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white; /* tournament travel button text colour */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #6f9283; /* changes the look of the background change when hovering over */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cdc6a5;  /* colour of tourney dropdown background */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd; /* dropdown background colour change when hovered */
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .background-up {
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 50%;
    background-size: cover; 
    background-image: linear-gradient(to bottom, rgba(53,53,53,0), rgba(205,198,165,1) 50%), url('pexels-athena-2961964.jpg'); /* background image at top of webpage */
  }
  .navwidth {
    width: 150px;
  }

  .lfloat {
    float: left;
  }
  .rfloat {
    float: right;
  }
  .board {
    width: 39%;
    min-height: 300px;
    max-height: fit-content;
    background-color: rgba(141, 159, 135, 0.9); /* background colour on table */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 20px;
    text-align: center;
    border-style: solid;
    border-color: rgba(105,	109, 125, 1);
  }

  .boardtitle {
    background-image: linear-gradient(to top, rgba(53,53,53,0), rgba(105,	109, 125, 1) 70%); /* title of leaderboard table background colour */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* padding-left: 15px; */
    width: 100%;
    padding-top: 2%;
    padding-bottom: 8%;
    margin: 0;
    color: white;
  }
  .boardtable {
    color:white;
  }

  .topspace{
    height: 150px;
    width: 100%;
  }
  /*Input box style sheet for input page */
  .inputbox {
    width: 50%;
    min-height: 100px;
    max-height: fit-content;
    background-color: rgba(141, 159, 135, 0.9); /* background colour on table */
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    border-radius: 20px;
    text-align: center;
    color:white;
    padding:2%;
  }
  .inputform{
    margin-bottom:2%;
  }
  .tournselbutton{
    background-color: inherit;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* padding: 15px 32px;
    margin: 4px 2px; */
    width: 100%;
    height: 60px;
    cursor: pointer;
  }

  .tournselbutton:hover{
    background-color: #6f9283;
  }

  .buttonbox{
    width: 50%;
    min-height: 100px;
    max-height: fit-content;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    color:white;
    padding:2%;
  }

  /* CSS below is for the tournament table */
  #container { 
    width: fit-content; 
    height: 1200px; 
    
}

section { 
    width: 110px; 
    height: 1100px; 
    float: left;  
}

section > div { 
    width: 80px; 
    height: 20px;
    border: 1px solid #000;  /* Border colour of box in tournament table */
    margin: 9px 0; 
    background: rgb(75, 138, 86); /* Background of box in tournament table */
    color: white; 
    padding: 10px 10px 10px 20px;
}

section > div:nth-child(2n) {
    margin-bottom: 40px;
}

.conn { 
    width: 30px; 
    height: 520px; 
    float: left; 
}

.line { 
    width: 30px; 
    height: 520px; 
    float: left; 
}

.conn div { 
    border: 4px solid #000; 
    height: 50px; 
    width: 100%; 
    margin: 75px 0 0 1px;
}

.br div { 
  border-right: none; 
}

.bl div { 
  border-left: none; 
}

.conn div:first-child { 
    margin: 32px 0 0 1px; 
}

.line div { 
    border-top: 4px solid #000; 
    margin: 129px 0 0 1px; 
}

.line div:first-child { 
    margin-top: 55px; 
}

#round-2 > div { 
    margin-top: 91px; 
}

#round-2 > div:first-child { 
    margin-top: 37px; 
}

#conn2 div { 
    margin-top: 133px; 
    height: 127px;
}

#conn2 div:first-child { 
    margin-top: 57px; 
}

#line2 div { 
    margin-top: 270px; 
}

#line2 div:first-child { 
    margin-top: 125px; 
}
#QFinal > div { 
    margin-top: 230px; 
}
#QFinal > div:first-child { 
    margin-top: 105px; 
}

#conn3 div { 
    margin-top: 125px; 
    height: 270px;
}
#conn3 > div:last-child { 
  margin-top: 272px; 
  height: 270px;
}

#line3 div { 
  margin-top: 270px; 
}

#line3 div:last-child { 
  margin-top: 530px; 
}

#SFinal > div { 
  margin-top: 250px; 
}

#SFinal > div:last-child { 
  margin-top: 490px; 
}

#conn4 div {
  margin-top: 272px; 
  height: 528px;

}

#line4 div {
  margin-top: 530px; 
}

#line5 div {
  margin-top: 580px; 
}

#Final > div:first-child {
  margin-top: 510px;
}


.tournament-box{
  /* background-color: white; Colour of the div behind tournament table */
  padding: 5px;
  height: 100%;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.textalignleft{
  text-align: left;
}

.alert {
  padding: 31px;
  background-color: #f44336;
  color: white;
  margin-top: 50px;
  border-radius: 25px;
  margin-left: 25%;
  margin-right: 25%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 0px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}