<!DOCTYPE html>
<html>
    <head>
        <title>Tennis-Tournament</title>
        <link rel="StyleSheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="background-up">
            <nav>
                <div class="navbar">
                    <a href="/" class="navwidth">Main Page</a>
                    <div class="dropdown navwidth">
                        <button class="dropbtn navwidth">Tournaments<i class="fa fa-caret-down navwidth"></i></button>
                        <div class="dropdown-content navwidth" >
                            <!--Add jinja endfor to dynamically get content-->
                            <a href="/tournament" method="POST">Tournament 1</a>
                            <a href="/tournament" method="POST">Tournament 2</a>
                            <a href="/tournament" method="POST">Tournament 3</a>
                            <a href="/tournament" method="POST">Tournament 4</a>
                        </div>
                    </div>
                    <a href="/newmatch">Add match</a>
                </div>
            </nav>
            <!-- below is bracket design -->
            <!-- <div class="round round-one">
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
            </div>
            <div class="round round-two">
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
            </div>
            <div class="round round-semifinal">
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
                <div class="brackbox"></div>
            </div>
            <div class="round round-final">
                <div class="brackbox"></div>
                <div class="brackbox"></div>
            </div>
            <div class="round round-winner">
                <div class="brackbox"></div>
            </div> -->
            <article id="container">
    
                <section>
                    <div>Player 1</div>
                    <div>Player 2</div>
                    <div>Player 3</div>
                    <div>Player 4</div>
                    <div>Player 5</div>
                    <div>Player 6</div>
                    <div>Player 7</div>
                    <div>Player 8</div>
                </section>
                
                <div class="connecter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                
                <div class="line">
                    <div>
                    </div><div>
                    </div><div>
                    </div><div>
                    </div>
                </div>
                
                <section id="quarterFinals">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </section>
                
                <div class="connecter" id="conn2">
                    <div></div>
                    <div></div>
                </div>
                
                <div class="line" id="line2">
                    <div></div>
                    <div></div>
                </div>
                
                <section id="semiFinals">
                    <div></div>
                    <div></div>
                </section>
                
                <div class="connecter" id="conn3">
                    <div></div>
                </div>
                
                <div class="line" id="line3">
                    <div></div>
                </div>
                
                <section id="final">
                <div></div>
                </section>
            </article>
    </body>
</html>


