<!DOCTYPE html>
<html>
    <head>
        <title>Tennis-Tournament</title>
        <link rel="StyleSheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="background-up">
            <nav>
                <div class="navbar">
                    <a href="/" class="navwidth">Main Page</a>
                    <div class="dropdown navwidth">
                        <button class="dropbtn navwidth">Tournaments<i class="fa fa-caret-down navwidth"></i></button>
                        <div class="dropdown-content navwidth">
                            <form action="/tournament" method="POST">
                                {% for tournament in tournaments %}
                                    <input type="submit" class="tournselbutton" value="{{tournament}} M" name="tournselb"></button>
                                    <input type="submit" class="tournselbutton" value="{{tournament}} W" name="tournselb"></button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <a href="/newmatch">Add match</a>
                </div>
            </nav>
            <div class="tournament-box">
                <article id="container">
                    <section>
                        <!-- First Round Players 1-16 -->
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>
                    
                    <div class="conn"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <div class="line"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    
                    <section id="round-2">
                        <!-- Second Round Players 1-8 -->
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>
                    
                    <div class="conn" id="conn2"><div></div><div></div><div></div><div></div></div>
                    <div class="line" id="line2"><div></div><div></div><div></div><div></div></div>
                    
                    <section id="QFinal">
                        <!-- Third Round Players 1-4 -->
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>
                    
                    <div class="conn" id="conn3"><div></div><div></div></div>
                    <div class="line" id="line3"><div></div><div></div></div>
                    
                    <section id="SFinal">
                        <!-- SFinal Round Players 1-2 -->
                        <div></div>
                        <div></div>
                    </section>

                    <div class="conn" id="conn4"><div></div></div>
                    <div class="line" id="line4"><div></div></div>

                    <section id="Final">
                        <!-- SFinal Round Players 1-2 -->
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>


                    <div class="line" id="line4"><div></div></div>
                    <div class="conn" id="conn4"><div></div></div>

                    <section id="SFinal">
                        <!-- SFinal Round Players 3-4 -->
                        <div></div>
                        <div></div>
                    </section>

                    <div class="line" id="line3"><div></div><div></div></div>
                    <div class="conn" id="conn3"><div></div><div></div></div>

                    <section id="QFinal">
                        <!-- Third Round Players 5-8 -->
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>

                    <div class="line" id="line2"><div></div><div></div><div></div><div></div></div>
                    <div class="conn" id="conn2"><div></div><div></div><div></div><div></div></div>

                    <section id="round-2">
                        <!-- Second Round Players 9-16 -->
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>

                    <div class="line"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <div class="conn"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

                    <section>
                        <!-- First Round Players 17-32 -->
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>
                </article>
            </div>
    </body>
</html>


